extends ../layouts/default

block my_account
  include ../includes/myAccount
  +myAccount(user)

block content
  main(role='main')
    section.jumbotron.text-center
      .container.container-detail
        h1.jumbotron-heading #{offer.title}
        p.lead.text-muted
          span#offer_id.d-none #{offer._id}
          p #{offer.description}
          p.insert-after
            span.offer_price(id='offer-' + offer._id + '-price') #{offer.price} zł
          if offer.type == 'buy_now' && user && !user.own && !offer.isFinished
            p.function-btn
              button.btn.btn-danger.my-2(onclick='buy()') Buy now!
          else if user && !user.own && !offer.isFinished
            p.function-btn
              input#bid.text-right(type='number' min=offer.price, placeholder=offer.price + 1 + ' zł')
              button.btn.btn-danger.my-2(onclick='bid()') Bid!
          else if offer.isFinished
            p.text-muted Ended
          if !user || !user.own
            a.btn.btn-primary.btn-lg.btn-block(href='/messages/' + offer.ownerId) Send message