extends ../layouts/default

block my_account
  include ../includes/myAccount
  +myAccount(user)

block content
  main(role='main')
    .jumbotron.container.container-detail.mt-4.mb-4.d-flex.col-md-12.flex-wrap
      .col-md-5
        h1.display-4 #{offer.title}
        p.lead
          span#offer_id.d-none #{offer._id}
          span#offer-close-time.d-none #{offer.closeTime}
          if offer.isFinished
            span#offer-finished.d-none 1
          h3.offer_price(id='offer-' + offer._id + '-price') #{offer.price} zł
      .col-md-7
        img.img-fluid(src=offer.imageUrl alt='picture')
      .col-md-12.mt-3.d-flex
        .col-md-7
          h5.text-muter Description:
          p #{offer.description}
        .col-md-5
          span#duration-string.text-muted
      .col-md-12.mt-3.d-flex
        .col-md-6.insert-after
          if offer.type == 'buy_now' && user && !user.own && !offer.isFinished
            p.function-btn
              button.btn.btn-lg.btn-danger.my-2(onclick='buy()') Buy now!
                shopping-cart.fas.fa-shopping-cart.ml-2
          else if user && !user.own && !offer.isFinished
            p.function-btn
              input#bid.text-right(type='number' min=offer.price, placeholder=offer.price + 1 + ' zł')
              button.btn.btn-lg.btn-danger.ml-1(onclick='bid()') Bid!
                i.fas.fa-gavel.ml-2
          else if offer.isFinished
            p.text-muted Ended
        .col-md-6
          if user && !user.own && !offer.isFinished
            a.btn.btn-primary.btn-lg.btn-block(href='/messages/' + offer.ownerId) Send message
              i.fas.fa-envelope.ml-2
      if buyer
        .col-md-12.mt-3.d-flex
          .col-md-6.insert-after
            p.font-weight-bold #{buyer.name} won your offer!
          .col-md-6
            a.btn.btn-primary.btn-lg.btn-block(href='/messages/' + buyer._id) Send message
              i.fas.fa-envelope.ml-2
      if offer.didWin
        .col-md-12.mt-3.d-flex
          .col-md-6.insert-after
            p.font-weight-bold You won this offer! Contact seller...
          .col-md-6
            a.btn.btn-primary.btn-lg.btn-block(href='/messages/' + offer.ownerId) Send message
              i.fas.fa-envelope.ml-2